/node_modules
/public/hot
/public/storage
/storage/*.key
storage/framework/cache/*
/storage/mappings_output.json
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.~lock.*
/docker/kuha2/*
.docker.env

